{%- assign padding_top 					= section.settings.padding_top -%}
{%- assign padding_bottom 				= section.settings.padding_bottom -%}
{%- assign padding_top_mobile 			= section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile 		= section.settings.padding_bottom_mobile -%}
{%- assign overlay_opacity 				= section.settings.image_overlay_opacity -%}
{%- assign overlay_opacity_mobile 		= section.settings.image_overlay_opacity_mobile -%}
{%- assign overlay_height 				= section.settings.image_overlay_height -%}
{%- assign overlay_height_mobile 		= section.settings.image_overlay_height_mobile -%}
{%- assign desktop_vertical_position 	= section.settings.desktop_content_vertical_position -%}
{%- assign mobile_vertical_position 	= section.settings.mobile_content_vertical_position -%}
{%- assign desktop_horizontal_position 	= section.settings.desktop_content_horizontal_position -%}
{%- assign mobile_horizontal_position 	= section.settings.mobile_content_horizontal_position -%}
{%- assign desktop_text_alignment 		= section.settings.desktop_text_alignment -%}
{%- assign mobile_text_alignment 		= section.settings.mobile_text_alignment -%}
{%- assign text_color 					= section.settings.text_color -%}
{%- assign text_color_mobile 			= section.settings.text_color_mobile -%}
{%- assign image_height 				= section.settings.image_height -%}
{%- assign mobile_image_height 			= section.settings.mobile_image_height -%}
{%- assign image_overlay_color 			= section.settings.image_overlay_color -%}
{%- assign image_overlay_color_mobile 	= section.settings.image_overlay_color_mobile -%}
{%- assign show_content 				= section.settings.show_content_box -%}
{%- assign show_content_mobile 			= section.settings.show_content_box_mobile -%}
{%- assign full_width 					= section.settings.full_width -%}
{%- assign image 						= section.settings.image | default: settings.image_placeholder -%}
{%- assign image_mobile 				= section.settings.image_mobile | default: settings.image_placeholder -%}
{%- assign adapt_height 				= section.settings.adapt_height_first_image -%}
{%- assign mobile_adapt_height 			= section.settings.mobile_adapt_height_first_image -%}
{%- assign image_link 					= section.settings.image_link -%}
{%- assign image_link_mobile 			= section.settings.image_link_mobile -%}

{%- capture variables -%}
    --padding-top: {{ padding_top }}px;
    --padding-bottom: {{ padding_bottom }}px;
	--padding-top-mobile: {{ padding_top_mobile }}px;
    --padding-bottom-mobile: {{ padding_bottom_mobile }}px;
    --overlay-opacity: {{ overlay_opacity }}%;
    --overlay-opacity-mobile: {{ overlay_opacity_mobile }}%;
	--overlay-height: {{ overlay_height }}%;
    --overlay-height-mobile: {{ overlay_height_mobile }}%;
	--overlay-color: {{ image_overlay_color }};
	--overlay-color-mobile: {{ image_overlay_color_mobile }};
	--text-color: {{ text_color }};
	--text-color-mobile: {{ text_color_mobile }};

    {%- case desktop_vertical_position -%}
        {% when 'top' %}
            --align-self: flex-start;
        {% when 'middle' %}
            --align-self: center;
        {% when 'bottom' %}
            --align-self: flex-end;
    {%- endcase -%}

	{%- case mobile_vertical_position -%}
        {% when 'top' %}
            --align-self-mobile: flex-start;
        {% when 'middle' %}
            --align-self-mobile: center;
        {% when 'bottom' %}
            --align-self-mobile: flex-end;
    {%- endcase -%}

	{%- case desktop_horizontal_position -%}
        {% when 'left' %}
            --justify-content: flex-start;
        {% when 'center' %}
            --justify-content: center;
        {% when 'right' %}
            --justify-content: flex-end;
    {%- endcase -%}

	{%- case mobile_horizontal_position -%}
        {% when 'left' %}
            --justify-content-mobile: flex-start;
        {% when 'center' %}
            --justify-content-mobile: center;
        {% when 'right' %}
            --justify-content-mobile: flex-end;
    {%- endcase -%}

	{%- case desktop_text_alignment -%}
        {% when 'left' %}
            --text-align: left;
        {% when 'center' %}
            --text-align: center;
        {% when 'right' %}
            --text-align: right;
    {%- endcase -%}

	{%- case mobile_text_alignment -%}
        {% when 'left' %}
            --text-align-mobile: left;
        {% when 'center' %}
            --text-align-mobile: center;
        {% when 'right' %}
            --text-align-mobile: right;
    {%- endcase -%}

	{%- case image_height -%}
        {% when 'small' %}
			--section-height: 500px;
        {% when 'medium' %}
			--section-height: 650px;
        {% when 'large' %}
			--section-height: 800px;
		{% when 'full_height' %}
			--section-height: 100vh;
    {%- endcase -%}

	{%- case mobile_image_height -%}
        {% when 'small' %}
			--section-height-mobile: 400px;
        {% when 'medium' %}
			--section-height-mobile: 550px;
        {% when 'large' %}
			--section-height-mobile: 100vh;
    {%- endcase -%}
{%- endcapture -%}

{%- if section.block.size > 0 -%}

<div class="hero" style="{{- variables | escape -}}">
	<div class="hero__text-wrapper{% if show_content %} hero__text-wrapper--desktop{% endif %}{% if show_content_mobile %} hero__text-wrapper--mobile{% endif %}">
		{%- unless full_width -%}<div class="hero__container container">{%- endunless -%}
			<div class="hero__text-block{% if mobile_adapt_height %} hero__text-block--adapt-mobile{% endif %}{% if padding_top != 0 or padding_top_mobile != 0 %} hero__text-block--padding-top{% endif %}{% if padding_bottom != 0 or padding_bottom_mobile != 0 %} hero__text-block--padding-bottom{% endif %}">
				<div class="hero__text">
					{%- for block in section.blocks -%}
						{%- assign heading 				= block.settings.heading -%}
						{%- assign heading_mobile 		= block.settings.heading_mobile -%}
						{%- assign heading_size 		= block.settings.heading_size -%}
						{%- assign heading_size_mobile 	= block.settings.heading_size_mobile -%}
						{%- assign text 				= block.settings.text -%}
						{%- assign text_mobile 			= block.settings.text_mobile -%}
						{%- assign font_size 			= block.settings.text_font_size -%}
						{%- assign font_size_mobile 	= block.settings.text_font_size_mobile -%}
						{%- assign button_label 		= block.settings.button_label -%}
						{%- assign button_link 			= block.settings.button_link -%}
						{%- assign button_label_mobile 	= block.settings.button_label_mobile -%}
						{%- assign button_link_mobile 	= block.settings.button_link_mobile -%}
						{%- assign button_icon 			= block.settings.show_button_icon -%}
						{%- assign button_icon_mobile 	= block.settings.show_button_icon_mobile -%}

						{%- capture heading_variables -%}
							{%- case heading_size -%}
								{% when 'h1' %}
									--title-font-size: 50px;
								{% when 'h2' %}
									--title-font-size: 42px;
								{% when 'h3' %}
									--title-font-size: 34px;
							{%- endcase -%}

							{%- case heading_size_mobile -%}
								{% when 'h1' %}
									--title-font-size-mobile: 32px;
								{% when 'h2' %}
									--title-font-size-mobile: 26px;
								{% when 'h3' %}
									--title-font-size-mobile: 22px;
							{%- endcase -%}
						{%- endcapture -%}

						{%- capture text_variables -%}
							--text-font-size: {{ font_size }}px;
							--text-font-size-mobile: {{ font_size_mobile }}px;
						{%- endcapture -%}

						{%- capture button_variables -%}

						{%- endcapture -%}

						{%- case block.type -%}
							{%- when "heading" -%}
								<h1 class="hero__title-wrapper" style="{{- heading_variables | escape -}}">
									{%- if heading != blank -%}
										<div class="hero__title hero__title--desktop">{{- heading | replace: "p>", "span>" -}}</div>
									{%- endif -%}
									{%- if heading_mobile != blank -%}
										<div class="hero__title hero__title--mobile">{{- heading_mobile | replace: "p>", "span>" -}}</div>
									{%- endif -%}
								</h1>
						{%- endcase -%}

						{%- case block.type -%}
							{%- when "text" -%}
								{%- if text != blank or text_mobile != blank -%}
									<div class="hero__description-wrapper" style="{{- text_variables | escape -}}">
										{%- if text != blank -%}
											<div class="hero__description hero__description--desktop">{{- text -}}</div>
										{%- endif -%}
										{%- if text_mobile != blank -%}
											<div class="hero__description hero__description--mobile">{{- text_mobile -}}</div>
										{%- endif -%}
									</div>
								{%- endif -%}
						{%- endcase -%}

						{%- case block.type -%}
							{%- when "buttons" -%}
								{%- if button_link != blank and button_label != blank or button_link_mobile != blank and button_label_mobile != blank -%}
									<div class="hero__cta-wrapper">
										{%- if button_label != blank and button_link != blank -%}
											<a href="{{ button_link }}" class="hero__cta button hero__cta--desktop">
												{{- button_label -}}
												{%- if button_icon -%}
													{%- render 'icon-arrow' -%}
												{%- endif -%}
											</a>
										{%- endif -%}
										{%- if button_label_mobile != blank and button_link_mobile != blank -%}
											<a href="{{ button_link_mobile }}" class="hero__cta button hero__cta--mobile">
												{{- button_label_mobile -}}
												{%- if button_icon_mobile -%}
													{%- render 'icon-arrow' -%}
												{%- endif -%}
											</a>
										{%- endif -%}
									</div>
								{%- endif -%}
						{%- endcase -%}
					{%- endfor -%}
				</div>
				{%- if image_link != blank or image_link_mobile != blank -%}
					<div class="hero__banner-link-wrapper">
						{%- if image_link != blank -%}
							<a href="{{ image_link }}" class="hero__banner-link hero__banner-link--desktop">
								banner link
							</a>
						{%- endif -%}
						{%- if image_link_mobile != blank -%}
							<a href="{{ image_link_mobile }}" class="hero__banner-link hero__banner-link--mobile">
								banner link
							</a>
						{%- endif -%}
					</div>
				{%- endif -%}
			</div>
		{%- unless full_width -%}</div>{%- endunless -%}
	</div>

	<div class="hero__image{% if mobile_adapt_height %} hero__image--adapt-mobile{% endif %}{% if adapt_height %} hero__image--adapt-desktop{% endif %}">
		<picture>
		    <source srcset="{{ image_mobile | img_url: '767x' }} 1x, {{ image_mobile | img_url: '1534x' }} 2x" media="(max-width: 767px)">
		    <source srcset="{{ image | img_url: '1920x' }} 1x, {{ image | img_url: '3840x' }} 2x" media="(max-width: 1920px)">
		    <img
		        srcset="{{ image | img_url: '1920x' }} 1x, {{ image | img_url: '3840x' }} 2x"
		        src="{{ image | img_url: '1920x' }}"
		        alt="{{ image.alt }}"
		    />
		</picture>
	</div>
</div>

{%- endif -%}


{% schema %}
	{
		"name": "Content section",
		"tag": "section",
		"blocks": [
            {
				"type": "block",
				"name": "Block",
				"settings": [
                    {
                        "type": "checkbox",
                        "id": "show_content_box",
                        "default": true,
                        "label": "Show/hide content"
                    },
                    {
                        "type": "select",
                        "id": "desktop_content_vertical_position",
                        "options": [
                            {
                                "value": "top",
                                "label": "Top"
                            },
                            {
                                "value": "middle",
                                "label": "Middle"
                            },
                            {
                                "value": "bottom",
                                "label": "Bottom"
                            }
                        ],
                        "default": "bottom",
                        "label": "Content vertical position"
                    },
                    {
                        "type": "select",
                        "id": "desktop_content_horizontal_position",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "right",
                                "label": "Right"
                            }
                        ],
                        "default": "left",
                        "label": "Content horizontal position"
                    },
                    {
                        "type": "select",
                        "id": "desktop_text_alignment",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "right",
                                "label": "Right"
                            }
                        ],
                        "default": "left",
                        "label": "Text alignment"
                    },
                    {
                        "type": "color",
                        "id": "text_color",
                        "label": "Text color",
                        "default": "#ffffff"
                    },
                    {
                        "type": "header",
                        "content": "Heading settings"
                    },
                    {
						"type": "richtext",
						"id": "heading",
						"default": "<p>Image banner desktop</p>",
						"label": "Heading"
					},
					{
						"type": "select",
						"id": "heading_size",
						"options": [
							{
								"value": "h3",
								"label": "Small"
							},
							{
								"value": "h2",
								"label": "Medium"
							},
							{
								"value": "h1",
								"label": "Large"
							}
						],
						"default": "h2",
						"label": "Heading size"
					},
                    {
						"type": "header",
						"content": "Text settings"
					},
                    {
						"type": "richtext",
						"id": "text",
						"default": "<p>Give customers details about the banner image.</p>",
						"label": "Text"
					},
					{
						"type": "range",
						"id": "text_font_size",
						"min": 12,
						"max": 30,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 16
					},
                    {
						"type": "header",
						"content": "Image settings"
					},
                    {
						"type": "text",
						"id": "button_label",
						"default": "Label",
						"label": "Label"
					},
					{
						"type": "url",
						"id": "button_link",
						"label": "Url"
					},
					{
						"type": "checkbox",
						"id": "show_button_icon",
						"default": true,
						"label": "Show/hide icon"
					},
                    {
						"type": "header",
						"content": "Image settings"
					},
                    {
                        "type": "checkbox",
                        "id": "full_width",
                        "default": false,
                        "label": "Full width"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "checkbox",
                        "id": "adapt_height_first_image",
                        "default": false,
                        "label": "Adapt section height to first image size",
                        "info": "Overwrites image banner height setting when checked."
                    },
                    {
                        "type": "color_background",
                        "id": "image_overlay_color",
                        "label": "Image overlay",
                        "default": "linear-gradient(0deg, rgba(0, 0, 0, 0.5) 34.23%, rgba(0, 0, 0, 0) 100%)"
                    },
                    {
                        "type": "range",
                        "id": "image_overlay_opacity",
                        "min": 0,
                        "max": 100,
                        "step": 10,
                        "unit": "%",
                        "label": "Image overlay opacity",
                        "default": 50
                    },
                    {
                        "type": "range",
                        "id": "image_overlay_height",
                        "min": 0,
                        "max": 100,
                        "step": 5,
                        "unit": "%",
                        "label": "Image overlay height",
                        "default": 55
                    },
                    {
                        "type": "url",
                        "id": "image_link",
                        "label": "Image link"
                    },
                    {
                        "type": "select",
                        "id": "image_height",
                        "options": [
                            {
                                "value": "small",
                                "label": "Small"
                            },
                            {
                                "value": "medium",
                                "label": "Medium"
                            },
                            {
                                "value": "large",
                                "label": "Large"
                            },
                            {
                                "value": "full_height",
                                "label": "Full height"
                            }
                        ],
                        "default": "full_height",
                        "label": "Section height",
                        "info": "For best results, use an image with a 3:2 aspect ratio. [Learn more](https:\/\/help.shopify.com\/manual\/shopify-admin\/productivity-tools\/image-editor#understanding-image-aspect-ratio)"
                    }
                ]
			}
		],
		"settings": [
			{
				"type": "header",
				"content": "Desktop settings"
			},
			{
				"type": "range",
				"id": "padding_top",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Padding top",
				"default": 50
			},
			{
				"type": "range",
				"id": "padding_bottom",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Padding bottom",
				"default": 50
			},
			{
				"type": "header",
				"content": "Mobile settings"
			},
			{
				"type": "range",
				"id": "padding_top_mobile",
				"min": 0,
				"max": 70,
				"step": 1,
				"unit": "px",
				"label": "Padding top",
				"default": 25
			},
			{
				"type": "range",
				"id": "padding_bottom_mobile",
				"min": 0,
				"max": 70,
				"step": 1,
				"unit": "px",
				"label": "Padding bottom",
				"default": 25
			}
		],
		"presets": [
			{
				"name": "Content section"
			}
		]
	}
{% endschema %}
