{%- assign padding_top 				= section.settings.padding_top -%}
{%- assign padding_bottom 			= section.settings.padding_bottom -%}
{%- assign padding_top_mobile 		= section.settings.padding_top_mobile -%}
{%- assign padding_bottom_mobile 	= section.settings.padding_bottom_mobile -%}
{%- assign full_width 				= section.settings.full_width -%}

{%- capture variables -%}
    --padding-top: {{ padding_top }}px;
    --padding-bottom: {{ padding_bottom }}px;
	--padding-top-mobile: {{ padding_top_mobile }}px;
    --padding-bottom-mobile: {{ padding_bottom_mobile }}px;
{%- endcapture -%}

{%- if section.blocks.size > 0 -%}
	<div class="content-section{% if padding_top != 0 or padding_top_mobile != 0 %} content-section--padding-top{% endif %}{% if padding_bottom != 0 or padding_bottom_mobile != 0 %} content-section--padding-bottom{% endif %}"
		 style="{{- variables | escape -}}"
	>
		{%- unless full_width -%}<div class="container">{%- endunless -%}
			<div class="-mx-4 lg:flex">
				{%- for block in section.blocks -%}
					{%- assign overlay_opacity 		= block.settings.overlay_opacity -%}
					{%- assign overlay_height 		= block.settings.overlay_height -%}
					{%- assign overlay_color 		= block.settings.overlay_color -%}
					{%- assign color 				= block.settings.color -%}
					{%- assign font_size 			= block.settings.font_size -%}
					{%- assign vertical_position 	= block.settings.vertical_position -%}
					{%- assign horizontal_position 	= block.settings.horizontal_position -%}
					{%- assign text_alignment 		= block.settings.text_alignment -%}
					{%- assign image_height 		= block.settings.image_height -%}
					{%- assign heading_size 		= block.settings.heading_size -%}
					{%- assign heading 				= block.settings.heading -%}
					{%- assign show_content 		= block.settings.show_content -%}
					{%- assign text 				= block.settings.text -%}
					{%- assign button_label 		= block.settings.button_label -%}
					{%- assign button_link 			= block.settings.button_link -%}
					{%- assign adapt_height 		= block.settings.adapt_height -%}
					{%- assign image 				= block.settings.image | default: settings.image_placeholder -%}
					{%- assign image_mobile 		= block.settings.image_mobile -%}

					{%- capture block_variables -%}
						--overlay-opacity: {{ overlay_opacity }}%;
						--overlay-height: {{ overlay_height }}%;
						--overlay-color: {{ overlay_color }};
						--text-color: {{ color }};
						--text-font-size: {{ font_size }}px;

						{%- case vertical_position -%}
							{% when 'top' %}
								--align-items: flex-start;
							{% when 'middle' %}
								--align-items: center;
							{% when 'bottom' %}
								--align-items: flex-end;
						{%- endcase -%}

						{%- case horizontal_position -%}
							{% when 'left' %}
								--justify-content: flex-start;
							{% when 'center' %}
								--justify-content: center;
							{% when 'right' %}
								--justify-content: flex-end;
						{%- endcase -%}

						{%- case text_alignment -%}
							{% when 'left' %}
								--text-align: left;
							{% when 'center' %}
								--text-align: center;
							{% when 'right' %}
								--text-align: right;
						{%- endcase -%}

						{%- case image_height -%}
							{% when 'small' %}
								--section-height: 420px;
							{% when 'medium' %}
								--section-height: 550px;
							{% when 'large' %}
								--section-height: 700px;
							{% when 'full_height' %}
								--section-height: 100vh;
						{%- endcase -%}

						{%- case heading_size -%}
							{% when 'h1' %}
								--title-font-size: 80px;
							{% when 'h2' %}
								--title-font-size: 64px;
							{% when 'h3' %}
								--title-font-size: 32px;
						{%- endcase -%}
					{%- endcapture -%}

					<div
						class="content-section__col overflow-hidden mb-8 lg:mb-0 lg:mx-3 lg:w-full relative{% if adapt_height %} h-auto{%- endif -%}"
						style="{{- block_variables | escape -}}"
					>
						{%- if show_content -%}
							{%- if heading != blank or text != blank or button_link != blank and button_label != blank -%}
								<div class="content-section__text-wrapper flex absolute z-10 top-0 left-0 right-0 bottom-0">
									<div class="content-section__text px-8 py-8 lg:py-16 lg:px-16">
										{%- if heading != blank -%}
											<h2 class="content-section__title {{ heading_size }}">{{- heading | replace: "p>", "span>" -}}</h2>
										{%- endif -%}
										{%- if text != blank -%}
											<div class="pt-8 lg:pt-7">
												{{- text -}}
											</div>
										{%- endif -%}
										{%- if button_link != blank and button_label != blank -%}
											<div class="mt-8 lg:mt-7">
												<a href="{{ button_link }}" class="lg:text-2xl button">
													{{- button_label -}}
												</a>
											</div>
										{%- endif -%}
									</div>
								</div>
							{%- endif -%}
						{%- endif -%}

						{%- if image != blank or image_mobile != blank -%}
							<div class="content-section__image{% unless adapt_height %} absolute z-0 left-0 top-0 right-0 bottom-0{% endunless %}">
								<picture>
									<source srcset="{{ image_mobile | img_url: '767x' }} 1x, {{ image_mobile | img_url: '1534x' }} 2x" media="(max-width: 767px)">
									<source srcset="{{ image | img_url: '1920x' }} 1x, {{ image | img_url: '3840x' }} 2x" media="(max-width: 1920px)">
									<img
										class="{% unless adapt_height %}max-w-none w-full h-full object-cover{% endunless %}"
										srcset="{{ image | img_url: '1920x' }} 1x, {{ image | img_url: '3840x' }} 2x"
										src="{{ image | img_url: '1920x' }}"
										alt="{{ image.alt }}"
									/>
								</picture>
							</div>
						{%- endif -%}
					</div>
				{%- endfor -%}
			</div>
		{%- unless full_width -%}</div>{%- endunless -%}
	</div>
{%- endif -%}


{% schema %}
	{
		"name": "Content section",
		"tag": "section",
		"blocks": [
            {
				"type": "block",
				"name": "Block",
				"settings": [
                    {
                        "type": "checkbox",
                        "id": "show_content",
                        "default": true,
                        "label": "Show/hide content"
                    },
                    {
                        "type": "select",
                        "id": "vertical_position",
                        "options": [
                            {
                                "value": "top",
                                "label": "Top"
                            },
                            {
                                "value": "middle",
                                "label": "Middle"
                            },
                            {
                                "value": "bottom",
                                "label": "Bottom"
                            }
                        ],
                        "default": "bottom",
                        "label": "Content vertical position"
                    },
                    {
                        "type": "select",
                        "id": "horizontal_position",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "right",
                                "label": "Right"
                            }
                        ],
                        "default": "left",
                        "label": "Content horizontal position"
                    },
                    {
                        "type": "select",
                        "id": "text_alignment",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "right",
                                "label": "Right"
                            }
                        ],
                        "default": "left",
                        "label": "Text alignment"
                    },
                    {
                        "type": "color",
                        "id": "color",
                        "label": "Text color",
                        "default": "#ffffff"
                    },
                    {
                        "type": "header",
                        "content": "Heading settings"
                    },
                    {
						"type": "richtext",
						"id": "heading",
						"default": "<p>Image banner desktop</p>",
						"label": "Heading"
					},
					{
						"type": "select",
						"id": "heading_size",
						"options": [
							{
								"value": "h3",
								"label": "Small"
							},
							{
								"value": "h2",
								"label": "Medium"
							},
							{
								"value": "h1",
								"label": "Large"
							}
						],
						"default": "h2",
						"label": "Heading size"
					},
                    {
						"type": "header",
						"content": "Text settings"
					},
                    {
						"type": "richtext",
						"id": "text",
						"default": "<p>Give customers details about the banner image.</p>",
						"label": "Text"
					},
					{
						"type": "range",
						"id": "font_size",
						"min": 12,
						"max": 30,
						"step": 1,
						"unit": "px",
						"label": "Font size",
						"default": 16
					},
                    {
						"type": "header",
						"content": "Button settings"
					},
                    {
						"type": "text",
						"id": "button_label",
						"default": "Label",
						"label": "Label"
					},
					{
						"type": "url",
						"id": "button_link",
						"label": "Url"
					},
                    {
						"type": "header",
						"content": "Image settings"
					},
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image desktop"
                    },
					{
                        "type": "image_picker",
                        "id": "image_mobile",
                        "label": "Image mobile"
                    },
                    {
                        "type": "checkbox",
                        "id": "adapt_height",
                        "default": false,
                        "label": "Adapt section height to first image size",
                        "info": "Overwrites image banner height setting when checked."
                    },
                    {
                        "type": "color_background",
                        "id": "overlay_color",
                        "label": "Image overlay",
                        "default": "linear-gradient(360deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 42.37%)"
                    },
                    {
                        "type": "range",
                        "id": "overlay_opacity",
                        "min": 0,
                        "max": 100,
                        "step": 10,
                        "unit": "%",
                        "label": "Image overlay opacity",
                        "default": 50
                    },
                    {
                        "type": "range",
                        "id": "overlay_height",
                        "min": 0,
                        "max": 100,
                        "step": 5,
                        "unit": "%",
                        "label": "Image overlay height",
                        "default": 55
                    },
                    {
                        "type": "select",
                        "id": "image_height",
                        "options": [
                            {
                                "value": "small",
                                "label": "Small"
                            },
                            {
                                "value": "medium",
                                "label": "Medium"
                            },
                            {
                                "value": "large",
                                "label": "Large"
                            },
                            {
                                "value": "full_height",
                                "label": "Full height"
                            }
                        ],
                        "default": "full_height",
                        "label": "Section height",
                        "info": "For best results, use an image with a 3:2 aspect ratio. [Learn more](https:\/\/help.shopify.com\/manual\/shopify-admin\/productivity-tools\/image-editor#understanding-image-aspect-ratio)"
                    }
                ]
			}
		],
		"settings": [
			{
				"type": "checkbox",
				"id": "full_width",
				"default": false,
				"label": "Full width"
			},
			{
				"type": "header",
				"content": "Desktop settings"
			},
			{
				"type": "range",
				"id": "padding_top",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Padding top",
				"default": 50
			},
			{
				"type": "range",
				"id": "padding_bottom",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Padding bottom",
				"default": 50
			},
			{
				"type": "header",
				"content": "Mobile settings"
			},
			{
				"type": "range",
				"id": "padding_top_mobile",
				"min": 0,
				"max": 70,
				"step": 1,
				"unit": "px",
				"label": "Padding top",
				"default": 25
			},
			{
				"type": "range",
				"id": "padding_bottom_mobile",
				"min": 0,
				"max": 70,
				"step": 1,
				"unit": "px",
				"label": "Padding bottom",
				"default": 25
			}
		],
		"presets": [
			{
				"name": "Content section"
			}
		]
	}
{% endschema %}
